@font-face {
    font-family: Grooovy;
    src: url(assets/ginchiest/Ginchiest.ttf);
}

.main{
    border: solid;
    height: 82vh;
    width: 75vw;
}

.screen {
    border: solid;
    height: 50vh;
    width: 75vw;
}

.buttomBar {
    border: solid red;
    height: 30vh;
    width: 75vw;
    font-family: Grooovy;
    color: coral;
    font-size: 25px;
    display: flex;


}

.health {
    border: solid gold;
    height: 30vh;
    width: 25vw;
}

.actionBar {
    border: solid blue;
    height: 30vh;
    width: 25vw;
}

.item {
    border: solid green;
    height: 30vh;
    width: 25vw;
}