@font-face {
    font-family: Grooovy;
    src: url(assets/ginchiest/Ginchiest.ttf);
}

body{
    padding: 0;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorchid;
}

/* ================================ This is the out of Combat styles! ===============================*/
.main{
    border: solid;
    height: 82vh;
    width: 75vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

/*-------- OOC screen and objects ---------*/
.screen {
    border: solid;
    height: 50vh;
    width: 75vw;
    border-radius: 5px;
    background-blend-mode: darken;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    grid-template-rows: 5vh 5vh 5vh;
    grid-auto-columns: 5vw;
    grid-auto-rows: 5vh;
}

.person{
    /* border: solid crimson; */
    height: 40vh;
    width: 25vw;
    background-size: 100% 100%;
    grid-column: 6/7;
    
}

.text{
    border: solid gainsboro;
    grid-row: 9/11;
    grid-column: 2/15;
    color: white;
    background-color: blue; opacity: 0.9;
    font-weight: bold;
}

.buttomBar {
    border: solid red;
    height: 30vh;
    width: 75vw;
    font-family: Grooovy;
    border-radius: 5px;
    color: coral;
    font-size: 20px;
    display: flex;
}

.health {
    border: solid gold;
    height: 30vh;
    width: 25vw;
    font-size: 30px;
    border-radius: 5px;
    background-image: url(assets/doubt_griff.jpg);
    background-color: gold;
    background-blend-mode: darken;
    background-size: 100% 100%;
}

.actionBar {
    border: solid blue;
    height: 30vh;
    width: 25vw;
    border-radius: 5px;
    background-image: url(assets/focus_graff.jpeg);
    background-size: 100% 100%;
    background-color: gold;
    background-blend-mode: darken;
    display: grid;
    grid-template-columns: repeat(1, auto);

}

.btn {
    font-family: Grooovy;
    font-size: 20px;
    color: black;
}

.btn:hover{
    border: solid gold;
}

.item {
    border: solid green;
    height: 30vh;
    width: 25vw;
    border-radius: 5px;
    background-image: url(assets/explore_graf.jpeg);
    background-color: gold;
    background-blend-mode: darken;
    background-size: 100% 100%;
}


/*==================================== The health bar code =========================*/

.health-box {
    background-color: #ccc;
    height: 5vh;
    width: 20vw;
    margin: 0 auto;
    border: solid 1px #aaa;
  }
  
  .health-bar {
    background-color: #010107;
    width: inherit;
    height: 28px;
    position: relative;
    bottom: 56px;
  }
  
  .health-bar-red {
    width: 100%;
    height: 100%;
    background-color: #a10c0c;
  }
  
  .health-bar-blue {
    width: 100%;
    height: 100%;
    background-color: #ecd92a;
    bottom: 28px;
    position: relative;
  }
  

  /* ------------------ THis is the COMBAT Screen ---------------------------*/

  .commain {
    border: solid;
    height: 82vh;
    width: 75vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }

  /* Screen and elements in screen */

  .comscreen {
    border: solid;
    height: 50vh;
    width: 75vw;
    border-radius: 5px;
    background-image: url(assets/BG4.jpg);
    background-color: darkblue;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    grid-template-rows: 5vh 5vh 5vh;
    grid-auto-columns: 5vw;
    grid-auto-rows: 5vh;

  }

  #ene1 {
    border: solid gainsboro;
    height: 50vh;
    width: 25vw;
    grid-column: 3/4;
}
#ene2 {
    border: solid gainsboro;
    height: 50vh;
    width: 25vw;
    background-size: 100% 100%;
    grid-column: 6/7;
}
#ene3 {
    border: solid gainsboro;
    height: 50vh;
    width: 25vw;
    grid-column: 9/10;
}
.hud {
    border: solid gainsboro;
    font-weight: bold;
    color: ghostwhite;
    grid-row: 9/11;
    grid-column: 2/15;
    background-color: blue; opacity: 0.9;
}


/* Action Bar and elements */

  .combuttomBar {
    border: solid red;
    height: 30vh;
    width: 75vw;
    font-family: Grooovy;
    border-radius: 5px;
    color: Black;
    font-size: 20px;
    display: flex;
}

.comactionBar {
    border: solid blue;
    height: 30vh;
    width: 25vw;
    border-radius: 5px;
    background-image: url(assets/focus_graff.jpeg);
    background-color: gold;
    background-blend-mode: darken;
    background-size: 100% 100%;
    /* display: grid;
    grid-template-columns: repeat(1, auto); */

}


