.main{
    border: solid;
    height: 82vh;
    width: 75vw;
}

.screen {
    border: solid;
    height: 50vh;
    width: 75vw;
}

.buttomBar {
    border: solid red;
    height: 30vh;
    width: 75vw;

}